body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
}
.header-1 h1,
.header-1 h2{
    margin-top: 0;
    margin-bottom: 0;
}
.header-1{
    flex: 0 0 auto;
    position: relative;
    padding: 20px;
    background-color: #212121;
    color: #fff;
}
.parent-div{
    flex: 1 1 0;
    min-height: 0;
    display: flex;
}
p{
    text-transform: uppercase;
    font-weight: 900;
}
.left-block,
.right-block{
    position: relative;
    width: 50%;
    transition: width 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.left-block img,
.right-block img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-block a,
.right-block a{
    flex: 1;
    width: 100%;
    height: 100%;
}
.left-block:hover{
    width: 65%;
}
.right-block:hover{
    width: 65%;
}
.hidden{
    position: absolute;
    display: none;
    font-size: 2em;
    font-weight: bold;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.left-block:hover .hidden{
    display: block;
    color: rgb(0, 0, 0);
}
.right-block:hover .hidden{
    display: block;
    color: rgb(0, 0, 0);
}
.parent-div .left-block:hover ~.right-block{
    filter: blur(10px);
}
.parent-div:hover .left-block:not(:hover){
    filter: blur(10px);
}
footer{
    background-color: #212121;
    color: #fff;
    font-size: 12px;
    padding: 20px;
}
